{% extends 'base.html.twig' %}

{% block title %}Flux index{% endblock %}

{% block body %}
    <h1>Flux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flux in fluxes %}
            <tr>
                <td>{{ flux.id }}</td>
                <td>{{ flux.titre }}</td>
                <td>
                    <a href="{{ path('app_flux_show', {'id': flux.id}) }}">show</a>
                    <a href="{{ path('app_flux_edit', {'id': flux.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_flux_new') }}">Create new</a>
{% endblock %}
